:root {
    --bg-black: black;
    --bg-white: white;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

html {
    font-size: 100%;
    color: black;
}





/*  */
.nav-top {
    background-color: var(--bg-black);
}

.nav-bottom {
    background-color: var(--bg-white);
}

nav img{
    padding: 1em;
    width: 100px;
}

.border-hamburger {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.drop-full-width {
    width: 100%;
}

.dropdown-menu.my_navbar {
    width: 100vw;
    text-align: center;
}
.dropdown-menu.my_navbar li a,
.dropdown-menu.my_navbar li {
    display: inline;
}


/* JUMBO */
.jumbotron {
    padding-top: 150px;
    color: white;
}
.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 250px;
}

.jumbotron .returnal img {
    width: 250px;
}


.btn_my{
    border-radius: 25px;
}

.jumbotron .game-list img {
    width: 100%;
    border-radius: 10px;
}

/* SHOWROOM */

.showroom .row div img {
    width: 100%;
}

.blue-text {
    color: rgb(0,128,255);
}

.showroom .showroom-list img {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}
.showroom .showroom-list img:hover {
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(0.9);
    cursor: pointer;
}

.showroom .container ul li {
    opacity: 60%;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.showroom .container ul li:hover {
    opacity: 1;
    border-bottom: 2px solid rgb(0,128,255);

}

/* TO BE RELEASED */

.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.to-be-released .takes-two img {
    width: 250px;
}

.to-be-released ul li img {
    width: 100%;
    border-radius: 15px;
}

/* EXPLORE PS4 */


/* PLAYSTATION PLUS */

.btn-plus {
    background-color: rgb(217,218,220);
    color: rgb(0,128,255);
}
.bg-plus {
    background-color: rgb(190,188,187);
}

/* PLAYSTATION STORE */



/* PLASYSTATION NOW */

.bg-now {
    background-color: rgb(22,28,59);
}

/* SOCIAL */
