:root {
    --bg-black: black;
    --bg-white: white;
}

body {
    font-family: Helvetica, arial, sans-serif;
}

html {
    font-size: 100%;
    color: black;
}



/* NAV */

.navbar_my_height{
    height: 70px;
}

.nav-top {
    background-color: var(--bg-black);
}

.nav-bottom {
    background-color: var(--bg-white);
}

nav img{
    padding: 1em;
    width: 90px;
}

.border-hamburger {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.drop-full-width {
    width: 100%;
}

.dropdown-menu.my_navbar {
    width: 100vw;
    text-align: center;
}
.dropdown-menu.my_navbar li a,
.dropdown-menu.my_navbar li {
    display: inline;
}

.nav-bottom nav .dropdown-menu-my {
    top: 67px;
    left: 0;
    margin-top: .125rem;
}


/* JUMBO */
.jumbotron {
    padding-top: 110px;
    color: white;
}
.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 250px;
}

.jumbotron .returnal img {
    width: 250px;
}


.btn_my{
    border-radius: 25px;
}

.jumbotron .game-list img {
    width: 100%;
    border-radius: 10px;
}

.jumbotron button:hover {
    box-shadow: 0 0 0 2px rgb(220,53,69);
    border: 1px solid black;
}

/* SHOWROOM */

.showroom .row div img {
    width: 100%;
}

.blue-text {
    color: rgb(0,128,255);
}

.showroom .showroom-list img {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}
.showroom .showroom-list img:hover {
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(0.9);
    cursor: pointer;
}

.showroom .container ul li {
    opacity: 60%;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.showroom .container ul li:hover {
    opacity: 1;
    border-bottom: 2px solid rgb(0,128,255);
}

.showroom button:hover {
    box-shadow: 0 0 0 2px rgb(0,128,255);
    border: 1px solid white;
}



/* TO BE RELEASED */

.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.to-be-released .takes-two img {
    width: 250px;
}

.to-be-released ul li img {
    width: 100%;
    border-radius: 15px;
}

.to-be-released button:hover {
    box-shadow: 0 0 0 2px rgb(220,53,69);
    border: 1px solid black;
}

/* EXPLORE PS4 */

.explore-ps4 .row .col button:hover {
    box-shadow: 0 0 0 2px rgb(0,128,255);
    border: 1px solid white;
}

/* PLAYSTATION PLUS */

.bg-plus {
    background-color: rgb(190,188,187);
}

.ps-plus button:hover {
    box-shadow: 0 0 0 2px white;
    border: 1px solid black;
}

/* PLAYSTATION STORE */



/* PLASYSTATION NOW */

.bg-now {
    background-color: rgb(22,28,59);
}

.ps-now button:hover {
    box-shadow: 0 0 0 2px white;
    border: 1px solid black;
}

/* SOCIAL */


/* FOOTER */

.bg-footer {
    background-color: rgb(0,67,156);
    padding: 5em 1em 5em 3em;
}

#footer-img {
    width: 10%;
}

.end-info {
    font-size: 0.8em;
}